@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.disabled {
  pointer-events: none;
}

.hidden {
  display: none;
}

.search {
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.search .search-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  left: 13%;
  text-align: center;
  top: 6%;
  /* color: white; */
}

.search h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.search p {
  font-size: 1.8rem;
  margin-top: 8px;
}

.search .search-box {
  height: 50px;
  margin: 20px 0;
}
.search-box i {
  position: absolute;
  left: 18px;
  top: 58%;
  font-size: 1.4rem;
  transform: translateY(-50%);
  color: rgb(168, 164, 164);
}

input,
button,
i {
  outline: none;
  border: none;
  border-radius: 5px;
}

.search-box input {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  padding-left: 55px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 2px rgb(184, 181, 181);
}

.search-content .recent-search {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recent-search .recent {
  padding: 5px 8px;
  background-color: rgb(0, 204, 255);
  box-shadow: 0 2px 3px 2px rgb(207, 207, 207);
  margin: 0 10px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .images {
  margin-top: 1.5rem;
  max-width: 95%;
  columns: 5 16rem;
  gap: 0.8rem;
}

.images .card {
  display: flex;
  position: relative;
  list-style: none;
  margin-bottom: 0.6rem;
  border-radius: 4px;
  overflow: hidden;
}

.images .card .details {
  position: absolute;
  bottom: -150px;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: bottom 0.1s ease;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.images .card:hover .details {
  bottom: 0px;
}

.card .details .description {
  color: white;
  display: flex;
  align-items: center;
}

.card .details button {
  cursor: pointer;
  padding: 0.15rem 0.43rem;
  font-size: 1rem;
}

.details .description i {
  font-size: 1.1rem;
  margin-right: 0.7rem;
}

.details .description span {
  font-size: 1rem;
}

.images img {
  width: 100%;
}

.gallery .load_more {
  margin: 4rem 0;
  background-image: linear-gradient(
    to right,
    rgb(0, 195, 255),
    rgb(250, 124, 193)
  );
  box-shadow: 1px 3px 4px 2px lightgray;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.del_all {
  width: 5rem;
  background-color: rgb(248, 55, 55);
  color: white;
  padding: 5px 8px;
  box-shadow: 0 2px 3px 2px rgb(207, 207, 207);
  margin: 0 10px;
  cursor: pointer;
}

.delete {
  align-self: flex-end;
}

.recentcont {
  display: flex;
  height: 2.3rem;
}

.copy-rights {
  margin-top: 5px;
}

.copy-rights p {
  font-size: 0.8rem;
  cursor: pointer;
  text-align: end;
  text-decoration: nonex;
}

.copy-rights a {
  text-decoration: none;
  color: black;
}

@media (max-width: 600px) {
  .search h1 {
    font-size: 2rem;
  }

  .search p {
    font-size: 1rem;
    margin-top: 4px;
  }

  .search .search-content {
    top: 18%;
    left: 0%;
  }
  .search-box i {
    top: 55%;
    font-size: 1.1rem;
    left: 15px;
  }

  .search .search-box {
    height: 33px;
    margin: 0;
    margin-top: 10px;
  }

  .search-box input {
    height: 100%;
    margin: -10px;
    padding-left: 45px;
  }

  .recent-search .recent {
    padding: 2px 4px;
    margin-bottom: -10px;
  }

  .recent-search {
    width: 20%;
  }

  .copy-rights p {
    font-size: 0.6rem;
  }
}
